.body{
    background-color:;
}
.main{
    background-image: url(/sign.png);
    background-size: cover;
    width: 60%;
    height: 650px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
    
}
.main-section{
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
.sign {
    text-align: center;
}
.privacy{
    text-align: center;
}
.img{
    background-image: url(/sign.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    margin-top: 3%;
    margin-bottom: 3%;  
    position: relative; 
}
.sign > h2{
    margin: 0;
    line-height: 100%;
    font-size: 35px;
    color: white;
    position: absolute;
    top: 2%;
    left:20%;
    transform:translate();
}
.privacy > p{
    color: white;
}
.data{
    background-color: white;
    width: 50%;
    position: relative;
}
.close{
    color: lightgrey;
    font-size: 30px;
    line-height: 0.5em;
    position: absolute;
    top: 10px;
    right: 10px;
}
label, input{
    display: block;
     }
.form-div{
   
    margin: %;
}
.form{
    color: lightgrey;
    margin: 12%;
}
.link{ 
    text-align: center;
    text-decoration: none;   
}
.linkg{
    border: 2px solid blue;
    border-radius: 20px;
    padding: 5px 25px;
    background-color: blue;
    color: white;

}
.links{
    border: 2px solid white;
    color: blue;
    border-radius: 20px;
    padding: 5px 25px;
}
.links:hover{
    border: 2px solid blue;
    border-radius: 20px;
    background-color: blue;
    color: white;  
}
.zalia{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 10%;
    margin-left: 12%;
    margin-bottom: 10%;
}
.zalia > p{
    background-color: antiquewhite;
    line-height: 0%;
}