.body{
    background-color:;
}
.main{
    background-color: rgb(217, 0, 255);
    width: 60%;
    height: 650px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    font-size: 22px;
    
}
.main-section{
    background-color: green;
    width: 75%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
.sign {
    text-align: center;
}
.privacy{
    text-align: center;
}
    

}
.img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: red;  
    position: relative; 
}
.sign > h2{

    margin: 0;
    line-height: 100%;
    position: absolute;
    top: 2%;
    left:20%;
    transform:translate();

}

.data{
    background-color: beige;
    width: 50%;
}
.close{
    color: red;
    font-size: 50px;
    line-height: 0.5em;
    position: absolute;
    top: 10px;
    right: 10px;
}
label, input{
    display: block;
     

}
.form-div{
margin: 10%; 

}
.link{
  
    text-align: center;
    text-decoration: none;
   
}
.linkg{
    border: 2px solid blue;
    border-radius: 20px;
    padding: 10px 14px;
    background-color: blue;

}
.links{
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 14px;
}
.links:hover{
    border: 2px solid blue;
    border-radius: 20px;
    padding: 10px 14px;
    background-color: blue;  
}
.zalia{
padding:  15px;
}