.body{
    background-image: url(/sign.png);
    background-size: cover;
   }
.main{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.main-section{
   
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
.sign {
    text-align: center;
}
.privacy{
    text-align: center;
}
.img{
    background-image: url(/sign.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    margin-top: 3%;
    margin-bottom: 3%;  
    position: relative; 
}
.sign > h2{
    margin: 0;
    line-height: 0;
    font-size: 35px;
    color: white;
    position: absolute;
    top: 15%;
    left:15%;
    transform:translate();
}
.privacy > p{
    color: white;
}
.data{
    background-color: white;
    width: 45%;
    position: relative;
}
.close{
    color: lightgrey;
    font-size: 30px;
    line-height: 0.5em;
    position: absolute;
    top: 10px;
    right: 10px;
}
label, input{
    display: block;
     }
}
.form{
    color: lightgrey;
    margin: 12%;
}
.link{ 
    text-align: center;
    text-decoration: none;   
}
.linkg{
    border: 2px solid blue;
    border-radius: 20px;
    padding: 5px 25px;
    background-color: blue;
    color: white;

}
 
.zalia{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 50%;
    margin-left: 12%;
    margin-bottom: 10%;
}
